/* Ajuste de imagen y contenedor */
.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8f9fa; /* Fondo claro */
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Estilo de la imagen */
.container img {
    border-radius: 50%;
    width: 200px;
    height: auto;
    margin-bottom: 20px;
}

/* Estilo de los títulos */
h1, h2, h3 {
    color: #879bb2; /* Color Bali Hai */
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Estilo del texto */
p {
    color: #323642; /* Color Tuna */
    line-height: 1.6;
    font-size: 1.1em;
    text-align: justify;
}

/* Sección de habilidades */
ul {
    padding-left: 20px;
}

ul li {
    color: #323642; /* Texto más oscuro */
    font-size: 1.1em;
    margin-bottom: 10px;
}

/* Estilo del botón de contacto */
button {
    background-color: #8ea5bd;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #879bb2;
}
