<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <link rel="icon" href="/assets/images/icono.ico" type="image/x-icon">
</head>
<body>

    <header>
        <nav>
            <ul>
                <li><a href="{{ '/' | relative_url }}">Inicio</a></li>
                <li><a href="{{ '/projects.html' | relative_url }}">Proyectos</a></li>
                <li><a href="{{ '/contact.html' | relative_url }}">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="container">
            {{ content }}
        </div>
    </main>

    <footer>
        <p>&copy; 2024 Jorge Fernández. Todos los derechos reservados.</p>
    </footer>

</body>
</html>
